.about-us{
    height: 500px;
    background: #40535c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
.display-details p{
    color: white;
}
.display-details p:nth-child(1){
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 5px;
    color: var(--orange);
    text-shadow: inset 0px 6px 20px rgb(255, 255, 255);
}
.display-details p:nth-child(2){
    font-size: 70px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.50);
    -webkit-text-stroke: solid 0.5px black;
}
*/
.about-us h3{
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 3px;
    color: var(--orange);
    text-shadow: inset 0px 6px 20px rgb(255, 255, 255);
}
.about-us h1{
    font-size: 50px;
    color: var(--white);
    text-shadow: 0px 2px 2px rgba(0,0,0,0.50);
    -webkit-text-stroke: solid 0.5px black;
}
.news-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px black; */
    
}
.news-list .newss{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: solid 3px blue; */
    /* width: 90%; */

}
/* .news div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.news-list .news{
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    display: grid;
    grid-template-rows: 184px 266px;
    /* margin-top: 30px; */
    height: 500px;
    width: 350px;
    border-radius: 10px;
    /* padding: 0 5px; */
    box-sizing: border-box;
    /* border: solid 1px black; */
    color: black;
    transition: box-shadow 0.4s;
    margin: 20px 0px; 
}
.news-text{
    padding: 20px;
    border: solid 4px var(--white);
    display: grid;
    grid-template-rows: 60px 40px 140px 26px;
    height: 318px;
    border-radius: 15px;


}
.news-text .news-author-details{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
/* .news-text .news-author-details div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px black; 
} */
/* .news-text .news-author , .news-date {
     display: flex;
    flex-direction: column; 
    justify-content:left;
    align-items: center; 
} */
.news-author ,  .news-date {
    height: 40px;
    width: 100%;
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.news-text .news-topic p{
    font-size: 20px;
}
.news a{
    text-decoration: none;
    color: black;
}
.more-news-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-container button{
    height: 40px;
    width: 140px;
    color: white;
    background-color: var(--orange);
    border: none;
    border-radius: 25px;
    transition: all 0.3s;
}
.news-container button:hover{
    color: var(--orange);
    background-color: var(--dark-blue);
}

.news-list .news:hover{
    box-shadow: 0px 3px 20px rgb(0 0 0 / 50%);
}
.news-list img{
    width: 100%;
    padding: 0px;
    border-radius: 15px 15px 0 0;
}
.news-buttons{
    margin: 20px 0px;
    display: flex;
    /* width: 300px; */
    justify-content:center;
    align-items: center;
}
.news-buttons button{
    color: var(--gray);
    height: 30px;
    width: 30px;
    background: var(--white);
    margin: 0px 10px;
    transition: all 0.3s ;
    border: none;
    border-radius: 50%;
}
.news-buttons button:nth-child(3){
    background: var(--orange);
    color: var(--white);
}
.news-buttons button:hover{
    background: var(--orange);
    color: var(--white);
}
