<div class="video-container">
    <div class="video-box">
        <div class="fruit-image-box">
        <img src="/assets/images/about.jpg" alt="">
        <div class="play-button">
            <button class="fas fa-play">
            </button>
        </div>
    </div>
        
    </div>
    <div class="video-content-box">
        <div class="video-year">
            <small>Made in 1999</small>
        </div>
        <div class="video-heading">
            <p> We are<span class="orange"> Fruitkha</span> </p>
        </div>
        <div class="video-content">
            <p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
        </div>
            <button>Know More ></button>
    </div>
</div>
<div class="banner-container">
    <div class="banner-content">
        <p>December sale is on!
            with big <span class="orange">Discount...</span> </p>
            <p>Sale! Upto</p>
               <p><span> 50%</span> off</p>
               <button class="fas fas fa-shopping-cart"> Shop Now</button>
    </div>
    
</div>
