<div class="team-container">
    <div class="team-content">
        <div class="c1" ><span style="color: var(--orange)">Our </span> team</div>
        <div class="c2">These are our executive team members</div>
    </div>
    <div class="team-list">
        <div class="teams">
            <div class="team">
                <img src="/assets/images/team-1.jpg" alt="">
                <div class="social-icons">
                    <button class="fas fab fa-twitter"></button>
                    <button class="fas fab fab fa-facebook"></button>
                    <button class="fas fab fab fa-instagram"></button>
                </div>
                <div class="about-person-details">
                    <h4>Your Name</h4>
                    <h6>Profession</h6>
                </div>
            </div>
            <div class="team">
                <img src="/assets/images/team-2.jpg" alt="">
                <div class="social-icons">
                    <button class="fas fab fa-twitter"></button>
                    <button class="fas fab fab fa-facebook"></button>
                    <button class="fas fab fab fa-instagram"></button>
                </div>
                <div class="about-person-details">
                    <h4>Your Name</h4>
                    <h6>Profession</h6>
                </div>
            </div>
            <div class="team">
                <img src="/assets/images/team-3.jpg" alt="">
                <div class="social-icons">
                    <button class="fas fab fa-twitter"></button>
                    <button class="fas fab fab fa-facebook"></button>
                    <button class="fas fab fab fa-instagram"></button>
                </div>
                <div class="about-person-details">
                    <h4>Your Name</h4>
                    <h6>Profession</h6>
                </div>
            </div>
        </div>
    </div>
</div>
