<div class="deal-container">
    <div class="deal-image">
        <img src="/assets/images/deals.jpg" alt="">
        <div class="deal-offer">
            <p>50% Off!</p>
        </div>
    </div>
    <div class="deal-details">
        <div class="deal-det1">
            <p><span class="orange">Deal</span> Of the Month</p>
            <p class="sub-topic" >HIKAN STRAWBERRY</p>
        </div>
        <div class="deal-det2">
            <p>These are some of the greatest strawberries you have even seen in your timeline. Grab the offer before it closes. Click "Add to cart button to add it to your cart to checkout!!"</p>
        </div>
        <div class="time-stamp">
            <div class="deal-days">
                <p>11</p> 
                <span><small>days</small></span>
            </div>
            <div class="deal-hours">
                <p>22</p> 
                <span><small>hours</small></span>
            </div>
            <div class="deal-mins">
                <p>33</p> 
                <span><small>mins</small></span>
            </div>
            <div class="deal-secs">
                <p>44</p> 
                <span><small>secs</small></span>
            </div>
        </div>
        <div class="deal-cart">
            <button><i class="fas fa-shopping-cart" ></i> add to cart</button>
        </div>
    </div>
</div>
