<div class="display-container">
    <img src="./assets/images/bg.jpg" alt="">
    <div class="display-details">
        <p>FRESH AND ORGANIC</p>
        <p><span>DELICIOUS SEASONAL FRUITS</span></p>
        <div class="display-buttons">
            <button (click)="shop()"lass="">Fruit Collection</button>
            <button (click)="contact()" class="">Contact Us</button>
        </div>
    </div>
</div>
<div class="list-section">
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-shipping-fast" ></i>
        </div>
        <div class="list-details">
            <h2>Free Shipping</h2>
            <h4>When order over $75 </h4>
        </div>
    </div>
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-phone-volume" ></i>
        </div>
        <div class="list-details">
            <h2>24/7 Support</h2>
            <h4>Get support all day</h4>
        </div>
    </div>
    <div class="list-content">
        <div class="list-icon">
            <i class="fas fa-sync" ></i>
        </div>
        <div class="list-details">
            <h2>Refund</h2>
            <h4>Get refund within 3 days!</h4>
        </div>
    </div>
</div>