.display-container{
    position: sticky;
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* z-index: 100; */
    /* height: 650px; */
}
.display-container img{
    /* background: url("/assets/images/photo1.jpg"); */
    /* background-image: ; */
    filter: brightness(50%);
    position: sticky;
    object-fit: fill;
    width: 100%;
}
.display-details{
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    height: 300px;

}
.display-details p{
    color: white;
}
.display-details p:nth-child(1){
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 5px;
    color: var(--orange);
    text-shadow: inset 0px 6px 20px rgb(255, 255, 255);
}
.display-details p:nth-child(2){
    font-size: 70px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.50);
    -webkit-text-stroke: solid 0.5px black;
}
.display-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
.display-buttons button{
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-size: 14px;
    border: none;
}
.display-buttons button:nth-child(1){
    background-color: var(--orange);
    color: var(--dark);
    transition: all 0.3s linear;
}
.display-buttons button:nth-child(1):hover{
    background: var(--dark-blue);
    color: var(--white);
}

.display-buttons button:nth-child(2){
    background-color: var(--dark);
    color: var(--white);
    border: solid 1px var(--orange);
    transition: all 0.3s linear;
}
.display-buttons button:nth-child(2):hover{
    background: var(--orange);
    color: var(--dark);
}

/*List section*/
.list-section{
    background: var(--light);
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    place-items: center;
    /* border: solid 1px black; */

}
.list-content{
    display: flex;
    justify-content: space-around;
    width: 330px;
    white-space: nowrap;
    /* height: 200px; */
    /* border: solid 1px black; */

}
.list-content .list-icon i{
    font-size: 48px;
    color: var(--dark-blue);
    padding: 14px;
    margin-right: 20px;
    border: dotted var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-details{
    /* border: solid 1px black; */
    line-height: 1.5;
    color: var(--dark-blue);

}