<div class="footer-container">
    <div class="about-us">
        <p>About us</p>
        <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
    </div>
    <div class="get-in-touch">
        <p>Get in Touch</p>
        <p>34/8, East Hukupara, Gifirtok, Sadan. <br>
            support@fruitkha.com <br>
            +00 111 222 3333</p>
    </div>
    <div class="pages">
        <p>Pages</p><br><br>
        <button [routerLink]="nav[0].home" > > Home</button><br>
        <button [routerLink]="nav[1].about" > > About</button><br>
        <button [routerLink]="nav[4].shop" > > Shop</button><br>
        <button [routerLink]="nav[2].news" > > News</button><br>
        <button [routerLink]="nav[3].contact" > > Contact</button>
    </div>
    <div class="subscribe">
        <p>Subscribe</p>
        <p>Subscribe to latest news by entering your email</p><br><br>
        <div class="sub-input-block"> 
        <input type="email" name="" id="" placeholder="Email">
        <button class="fas fas fa-paper-plane"></button>
    </div>
    </div>
</div>
